@font-face {
  font-family: "FreePixel";
  src: url("https://sadhost.neocities.org/fonts/FreePixel.ttf")
    format("truetype");
}

@font-face {
  font-family: "Insect";
  src: url("./fonts/Insektofobiya.otf") format("truetype");
}

:root {
  --background: #0e191a;
  --main-color: #af0707;
  --main-color-dk: #611212;
  --lighter-color: #ffffff;
  --accent-1: #e6d91d;
  --accent-2: #ebae53;
  --content-spacing: 5px;
  --background-img: url("./media/psychopomp.gif");
  --banner: url("./media/clocks.gif");
  --text-color: white;
  --link-color: var(--accent-1);
  --border: 1px solid black;
  --background-img2: url("./media/week1/supernove_in_cassiopeia.webp");
  --background-img3: url("./media/week3/red_block.webp");
  --background-img4: url("./media/week4/colonials.webp");
  --background-img5: url("./media/week5/kind_surgeon.webp");
  --background-img6: url("./media/week6/red_screen_of_death.webp");
  --background-img7: url("./media/conclusion/matrix_red.webp");
  --titleBars: url("./media/bar.webp");
}
html {
  cursor: url("./media/cursor.webp"), auto;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "FreePixel";
}

body {
  background-color: var(--background);
  background-image: var(--background-img);
  color: var(--text-color);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body#week1 {
  background-image: var(--background-img2);
}

body#week3 {
  background-image: var(--background-img3);
}

body#week4 {
  background-image: var(--background-img4);
}

body#week5 {
  background-image: var(--background-img5);
}

body#week6 {
  background-image: var(--background-img6);
}

body#conclusion {
  background-image: var(--background-img7);
}

.welcome#week1 {
  color: var(--lighter-color);
}

.welcome#week3 {
  color: var(--lighter-color);
}

.welcome#week4 {
  color: var(--lighter-color);
}

.welcome#week5 {
  color: var(--lighter-color);
}

.topbar {
  background-image: var(--banner);
  background-size: auto;
  background-repeat: no-repeat;
  height: 150px;
  margin-bottom: var(--content-spacing);
  min-width: 300px;
}

a:visited {
  color: var(--accent-2);
}

#container,
.topbar img {
  max-width: 850px;
  margin: 0 auto;
}
#container a {
  color: var(--link-color);
}
.topbar img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#container {
  border-top: none;
}

#flex {
  display: flex;
  max-width: 1400px;
  z-index: 10;
  font-size: 1.7rem;
}

#beneath {
  z-index: 1;
}

aside {
  width: 30%;
  margin-left: var(--content-spacing);
  border-left: var(--border);
  background-color: var(--background);
}

.title,
.sidebar-title {
  background-image: var(--titleBars);
  font-weight: bold;
  border: var(--border);
  font-size: 20px;
}

.welcome {
  font-family: "Insect";
  font-size: 100px;
  color: var(--main-color-dk);
  text-align: center;
  white-space: nowrap;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.right-image, .payment {
  width: 25%;
  position: fixed;
  right: 0;
  bottom: 35%
}

.senses {
  width: 17%;
  position: fixed;
  right: 18%;
  bottom: 45%;
}

.egov {
  width: 25%;
  position: fixed;
  right: 13%;
  bottom: 25%;
}

.left-image, .spiders {
  width: 15%;
  position: fixed;
  left: 0;
  bottom: 10%;
}

.spiders {
  width: 15%;
  position: fixed;
  left: 70%;
  bottom: 10%;
}
  

.accountable {
  width: 18%;
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 3;
}

.center-image, .vhs, .chart1, .chart2 {
  width: 30%;
  position: fixed;
  right: 10%;
  bottom: 25%;
}

.vhs {
  width: 27%;
  right: 0;
  bottom: 40%;
  position: fixed;
}

.aleph {
  width: 6%;
  position: fixed;
  right: 12%;
  bottom: 26%;
  transform: rotate(53deg);
}

main {
  width: 74%;
  background-color: var(--background);
}
nav {
  position: sticky;
  top: 20px;
}
nav ul {
  margin-left: 0;
  padding-left: 30px;
}
nav ul li a {
  color: var(--accent-1);
}
.content {
  padding: 25px;
}

footer {
  border: var(--border);
  height: 25px;
  margin-top: var(--content-spacing);
  background-image: var(--titleBars);
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

h1, h2, h3 {
  color: var(--accent-2);
}

div > li {
    list-style-type:none;
    padding-bottom:10px;
}

#linkNum {
    color:var(--accent-2);
    font-weight:bold;
}

p {
  text-align: justify;
}

.chart1 {
  top: 15%;
}

.chart2 {
  bottom: 10%;
}

.knowledge-god {
  width: 20%;
  position: fixed;
  right: 10%;
  bottom: 45%;
}

.uxn-illustration {
  width: 20%;
  position: fixed;
  right: 15%;
  bottom: 25%;
}

.mgba {
  width: 15%;
  position: fixed;
  right: 1%;
  bottom: 30%;
}

.gameplay {
  width: 19%;
  position: fixed;
  right: 5%;
  bottom: 3%;
}

.git-diff {
  width: 35%;
  position: fixed;
  right: 0;
  bottom: 20%;
}

.doctor {
  width: 15%;
  position: fixed;
  right: 0;
  bottom: 10%;
}

.koko {
  width: 20%;
  position: fixed;
  right: 20%;
  bottom: 20%;
}

.buzz {
  width: 20%;
  position: fixed;
  right: 5%;
  bottom: 30%;
}

.real-world-tip {
  width: 40%;
  position: fixed;
  right: 0;
  bottom: 1%;
}

@media (max-width: 2048px) {
  .aleph {
    left: 82%;
    bottom: 25%;
  }
  .welcome {
    font-size: 5em;
  }
}

@media (max-width: 1920px) {
  .chart1, .chart2 {
    width: 25%;
    right: 1%;
  }

  .chart1 {
    top: 20%;
  }

  .chart2 {
    bottom: 15%;
  }
}
